


<section>
      <h1>Iron Reddit</h1>
  <aside>

  </aside>
  <article>
    <% @links.each do |link| %>

      <p class="counter">
        <%= link.vote_counter %>
      </p>
      <p class="upvote">
        <%= link_to "⇧", "/votes?link_id=#{link.id}", method: "POST" %>
      </p>
      <p class="title">
        <%= link.title %>
      </p>
      <p class="link">
        <%= link_to link.URL, link.converted_url %>
      </br>
      </p>

    <% end %>
  </article>
</section>
